
input[type="search"]:focus {
  outline: none;
  box-shadow: none; 
  border-color: transparent; 
}

.form-control[type="search"]:focus {
  outline: none;
  box-shadow: none; 
  border: 1px solid transparent; 
}
